.composition {
  font-size: 13px;
  line-height: 18px;  
}

.composition__title {
  margin-bottom: 5px;
}

.composition__list li {
  margin-bottom: 5px;
}

.composition__list li:first-child {
  margin-top: 5px;
}
